$uni-font-size-lg: 76upx;
$uni-font-size-md: 48upx;
$uni-font-size-sm: 36upx;
$uni-font-size-xs: 28upx;
$uni-font-size-xxs: 22upx;

$uni-color-theme: #0faeff;
$uni-color-white: #fff;
$uni-color-gray: #efeff4;
$uni-color-gray6: #666;